body {
    background-color: rgb(34, 31, 31);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: sticky;
    top: 0;
    margin: auto;
    padding: auto;

}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    background-image: linear-gradient(to right, cornflowerblue, navy, cornflowerblue);
    padding: 1%;
    margin-top: 0em;
}

.tabs {
    background-color: darkgoldenrod;
    margin-bottom: 0%;
}

.navbutton {
    background-color: darkgoldenrod;
    padding: 1%;
    border-width: 0rem;
    
}

.navbutton:hover {
    background-color: lightgoldenrodyellow;
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

h2 {
    text-align: center;
}
